<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{actor}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="concurrencytest.runtime.MutableRuntimeState" level="TRACE" />
    <logger name="concurrencytest.runner.ActorSchedulerEntryPoint" level="TRACE"/>

</configuration>